<div class="stuff pt-5">
  <div class="container">
    <div class="main-title text-center mt-5 mb-5 position-relative">
      <img class="mb-4" src="imgs/title.png" alt="" />
      <h2>Some Stuff About Us</h2>
      <p class="text-black-50 text-uppercase">The Great Team</p>
    </div>
    <p class="description text-center mb-5 text-black-50 m-auto">
      Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget
      tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.
      Proin eget tortor risus. Donec sollicitudin molestie malesuada.
    </p>
    <div class="row align-items-center">
      <div class="col-lg-4 mb-4 text-center text-md-start">
        <div class="text">
          <h4>Retina Design</h4>
          <p class="text-black-50 fs-6">
            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet
            dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
          </p>
          <p class="text-black-50 fs-6">
            Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit,
            eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta
            dapibus. Proin eget tortor risus. Donec sollicitudin molestie
            malesuada.
          </p>
          <a class="btn rounded-pill main-btn text-uppercase" href="#"
            >Order Me One</a
          >
        </div>
      </div>
      <div class="col-lg-8">
        <div class="image">
          <img class="img-fluid" src="assets/imgs/laptop.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
