<div class="blog pt-5 pb-5">
  <div class="container">
    <div class="main-title text-center mt-5 mb-5 position-relative">
      <img class="mb-2" src="assets/imgs/title.png" alt="" />
      <h2>Read Our Blog</h2>
      <p class="text-uppercase text-black-50">New Stories</p>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/imgs/blog-1.jpg" class="card-img-top" alt="Blog Post" />
          <div class="card-body">
            <span class="text-black-50">Jan 17, 2022</span>
            <h5 class="card-title">Some Awesome Blog Title Here</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/imgs/blog-2.jpg" class="card-img-top" alt="Blog Post" />
          <div class="card-body">
            <span class="text-black-50">Jan 17, 2022</span>
            <h5 class="card-title">Some Awesome Blog Title Here</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/imgs/blog-3.jpg" class="card-img-top" alt="Blog Post" />
          <div class="card-body">
            <span class="text-black-50">Jan 17, 2022</span>
            <h5 class="card-title">Some Awesome Blog Title Here</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5 mb-5">
      <a class="btn rounded-pill main-btn text-uppercase" href="#"
        >More Stories</a
      >
    </div>
  </div>
</div>
<div class="subscribe pt-5 pb-5 text-center text-md-start">
  <div class="container">
    <form class="row align-items-center">
      <div class="col-md-6 col-lg-3">
        <div class="fw-bold fs-5 mb-3">Subscribe to our Newsletter:</div>
      </div>
      <div class="col-md-6 col-lg-7 mb-3">
        <input
          class="w-100 text-light p-2 bg-transparent"
          type="text"
          placeholder="Enter Email Address"
        />
      </div>
      <div class="col-md-6 col-lg-2">
        <input class="btn rounded-pill" type="submit" value="Subscribe" />
      </div>
    </form>
  </div>
</div>
