<div class="our-work text-center pt-5 pb-5">
  <div class="container">
    <div class="main-title mt-5 mb-5 position-relative">
      <img class="mb-4" src="assets/imgs/title.png" alt="" />
      <h2>We Make This</h2>
      <p class="text-black-50 text-uppercase">Prepare To Be Amazed</p>
    </div>
    <ul class="list-unstyled d-flex justify-content-center mt-5 mb-5">
      <li class="active rounded-pill">All</li>
      <li>Design</li>
      <li>Code</li>
      <li>Photo</li>
      <li>App</li>
    </ul>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box mb-3 bg-white" data-work="Application">
          <img class="img-fluid" src="assets/imgs/work-01.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box mb-3 bg-white" data-work="Application">
          <img class="img-fluid" src="assets/imgs/work-02.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box mb-3 bg-white" data-work="Application">
          <img class="img-fluid" src="assets/imgs/work-03.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box mb-3 bg-white" data-work="Application">
          <img class="img-fluid" src="assets/imgs/work-04.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box mb-3 bg-white" data-work="Application">
          <img class="img-fluid" src="assets/imgs/work-05.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box mb-3 bg-white" data-work="Application">
          <img class="img-fluid" src="assets/imgs/work-06.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box mb-3 bg-white" data-work="Application">
          <img class="img-fluid" src="assets/imgs/work-07.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box mb-3 bg-white" data-work="Application">
          <img class="img-fluid" src="assets/imgs/work-08.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <a class="btn rounded-pill main-btn text-uppercase" href="#"
        >I Want More</a
      >
    </div>
  </div>
</div>
