
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/imgs/logo.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main"
      aria-controls="main"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="main">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3 active" aria-current="page" routerLink="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" routerLink="services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" routerLink="portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" routerLink="team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" routerLink="blog">Blog</a>
        </li>

      </ul>
      <div class="search ps-3 pe-3 d-none d-lg-block">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="d-flex justify-content-between">
        <a class="ps-3 btn rounded-pill main-btn" routerLink="login" style="    margin-right: 8px; ">Login</a>
      <a class="ps-3 btn rounded-pill main-btn " routerLink="register">Register</a>
      </div>
    </div>
  </div>
</nav>


