<div class="footer pt-5 pb-5 text-white-50 text-center text-md-start">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="info mb-5">
          <img src="assets/imgs/logo.png" alt="" class="mb-4" />
          <p class="mb-5">
            Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo,
            lacinia eget consectetur sed, convallis at tellus.
          </p>
          <div class="copyright">
            Created By <span>Graphberry</span>
            <div>&copy; 2022 - <span>Bondi Inc</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="links">
          <h5 class="text-light">Links</h5>
          <ul class="list-unstyled lh-lg">
            <li>Home</li>
            <li>Our Services</li>
            <li>Portfolio</li>
            <li>Testimonials</li>
            <li>Support</li>
            <li>Terms and Condition</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="links">
          <h5 class="text-light">About Us</h5>
          <ul class="list-unstyled lh-lg">
            <li>Sign In</li>
            <li>Register</li>
            <li>About Us</li>
            <li>Blog</li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="contact">
          <h5 class="text-light">Contact Us</h5>
          <p class="lh-lg mt-3 mb-5">
            Get in touch with us via mail phone.We are waiting for your call or
            message
          </p>
          <a class="btn rounded-pill main-btn w-100" href="#"
            >graphberry@gmail.com</a
          >
          <ul class="d-flex mt-5 list-unstyled gap-3">
            <li>
              <a class="d-block text-light" href="#"
                ><i
                  class="fa-brands fa-facebook fa-lg facebook rounded-circle p-2"
                ></i
              ></a>
            </li>
            <li>
              <a class="d-block text-light" href="#"
                ><i
                  class="fa-brands fa-twitter fa-lg twitter rounded-circle p-2"
                ></i
              ></a>
            </li>
            <li>
              <a class="d-block text-light" href="#"
                ><i
                  class="fa-brands fa-linkedin fa-lg linkedin rounded-circle p-2"
                ></i
              ></a>
            </li>
            <li>
              <a class="d-block text-light" href="#"
                ><i
                  class="fa-brands fa-youtube fa-lg youtube rounded-circle p-2"
                ></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
