<div class="team text-center pb-5 pt-5">
  <div class="container pb-5 pt-5">
    <h2 class="fw-bold">Meet The Team</h2>
    <p class="text-black-50 mb-5">
      Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget
      tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.
      Proin eget tortor risus. Donec sollicitudin molestie malesuada.
    </p>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="box bg-white">
          <img class="img-fluid" src="assets/imgs/team-1.png" alt="" />
          <h4 class="p-3 text-light">Luke Skywalker</h4>
          <blockquote class="text-black-50 p-3">
            “I don't understand how we got by those troops. I thought we were
            dead.“
          </blockquote>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box bg-white">
          <img class="img-fluid" src="assets/imgs/team-2.png" alt="" />
          <h4 class="p-3 text-light">Luke Skywalker</h4>
          <blockquote class="text-black-50 p-3">
            “I don't understand how we got by those troops. I thought we were
            dead.“
          </blockquote>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box bg-white">
          <img class="img-fluid" src="assets/imgs/team-3.png" alt="" />
          <h4 class="p-3 text-light">Luke Skywalker</h4>
          <blockquote class="text-black-50 p-3">
            “I don't understand how we got by those troops. I thought we were
            dead.“
          </blockquote>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box bg-white">
          <img class="img-fluid" src="assets/imgs/team-4.png" alt="" />
          <h4 class="p-3 text-light">Luke Skywalker</h4>
          <blockquote class="text-black-50 p-3">
            “I don't understand how we got by those troops. I thought we were
            dead.“
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="techs pt-5 pb-5 text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img class="img-fluid" src="assets/imgs/tech-1.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img class="img-fluid" src="assets/imgs/tech-2.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img class="img-fluid" src="assets/imgs/tech-3.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img class="img-fluid" src="assets/imgs/tech-4.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img class="img-fluid" src="assets/imgs/tech-1.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img class="img-fluid" src="assets/imgs/tech-2.png" alt="" />
      </div>
    </div>
  </div>
</div>
